.wrap{
    width: 600px;
    margin: 50px auto;
}

div#squares-container {
    position: relative;
    margin: 0 auto;
}

.dot {
    display: block;
    background-color: #000;
    position: absolute;
}

a.s, a.e {
    transition: all .3s ease;
    display: block;
    position: absolute;
    background-color: rgb(228, 228, 245);
    opacity:.3;
}
a.s:hover, a.e:hover {
    background-color: rgb(228, 228, 245);
    opacity:.6;
}

a.s.active, a.e.active {
    background-color: #000;
}

.box {
    position: absolute;
}
.box.won {
    background-color: #bada55;
}

.player {
    width: 48%;
    float: left;
    margin: 10% 1%;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.player.active {
    background-color: #eee;
}

.player .color {
    height: 20px;
}

.wrap .result {
    position: relative;
    background-color: rgba(218, 87, 154, .9);
    color: white;
    z-index: 10;
}

.wrap.finished #squares-container .squares {
    opacity: .2;
}

.wrap.finished .result {
    display: block;
}

.result h2 {
    position: absolute;
    top: 34%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

/* always present */
.show-transition {
    -webkit-transition-delay: 5s; /* Safari */
    transition-delay: 5s;
    transition: all .3s ease;
}

/* .show-enter defines the starting state for entering */
/* .show-leave defines the ending state for leaving */
.show-enter, .expand-leave {
    opacity: 0;
}